---
layout: default
---

<div class="home">
  {% if site.theme.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
    {{ site.theme.header_text }}
  </div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
        <div class="post-teaser">
          <header>
            <h1 class="title" style="text-align: center;">
              <a class="post-link"  href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta"  style="text-align: center;">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <section class="post-content" style="padding-top: 28px;">
              {{ post.content }}
          </section>
        </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="button" href="{{ site.siteurl }}/">&laquo; Prev</a>
      {% else %}
        <a class="button" href="{{ site.siteurl }}/page{{ paginator.previous_page }}/">&laquo; Prev</a>
      {% endif %}
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class='next button' href="{{ site.siteurl }}/page{{ paginator.next_page }}/">Next &raquo;</a>
    {% else %}
      <span class='next button'>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>

<script src="{{ site.siteurl }}/js/jquery-1.11.1.js"></script>
<script src="{{ site.siteurl }}/js/jscroll/jquery.jscroll.min.js"></script>

<script type="text/javascript">
// content selector is used to extract the additional items
$('.content').jscroll({
    contentSelector: ".posts",
    nextSelector: '.next'
});
</script>
