<p style="text-align: center">
  <img src="{{ site.baseurl }}/img/{{ page.img }}">
</p>

<div style="padding-top: 10px; text-align: center;">
  <audio controls preload="metadata" >
    <source src="{{ page.mp3 }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<!-- <a href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.url }}{{ site.baseurl }}{{ page.url }}%20via%20&#64;{{ site.theme.twitter }}" data-dnt="true" style="color: black;"><i class="fa fa-fw fa-twitter"></i></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
